.banner-container {
  color: white;
  background-size: cover;
  background-position: center;
  padding: 200px 0;
  padding-left: 50px;
  align-items: center;
}
.banner-content h1 {
  font-size: 32px;
  font-weight: bold;
}
.banner-content p {
  color: white;
  font-size: 20px;
  opacity: .7;
}
